<h2 class="container my-4 display-5">New Genre</h2>

<form action="/genres" method="POST" class="container-sm p-3 mb-2 border border-secondary border-opacity-25 rounded" style="max-width: 750px;">
    <label class="form-label text-secondary">Genre Name</label>
    <div class="input-group">
        <input class="form-control bg-dark border-secondary border-opacity-25 text-light" type="text" name="name">
        <a href="/genres" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>