<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top border-bottom border-secondary border-opacity-25 py-sm-3">
    <div class="container" style="max-width: 1000px;">  
        <a href="/" class="navbar-brand">Music Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/albums">Albums</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/genres">Genres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/artists">Artists</a>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Add
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/albums/new">New Album</a></li>
                  <li><a class="dropdown-item" href="/genres/new"> New Genre</a></li>
                  <li><a class="dropdown-item" href="/artists/new">New Artist</a></li>
                </ul>
              </li>
            </ul>
        </div>
    </div>
</nav>