<h2>New Artist</h2>

<div class="container-sm p-3 mb-2 bg-light rounded">
    <form action="/artists" method="POST">
        <div class="input-group">
            <input class="form-control" type="text" name="name" placeholder="Artist's Name">
            <a href="/artists" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>